@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@400;500&display=swap');

html {
    height: 100%;
    background: linear-gradient(#eee, #eee 220px, #7ccbe9 250px) #7ccbe9;
}

body {
    font-family: 'Expletus Sans', sans-serif;
    font-weight: 500;
}

#container {
    margin: auto;
    width: 560px;
}

#logo {
    margin-top: 20px;
    text-align: center;
}

#content {
    color: #eee;
    margin-top: 70px;
    width: 100%;
}

#content a {
    color: #eee;
    text-decoration-line: none;
}

#content a:hover {
    -webkit-filter: brightness(1.2);
    filter: brightness(1.2);
    color: #fff;
}

#socials {
    margin-top: 30px;
    padding-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

#footer {
    margin-top: 30px;
    text-align: center;
    color: #eee;
    font-weight: 400;
}

.ext-logo {
    position: relative;
    top: -26px; 
    margin-left: 14px;
    margin-right: 14px;
}

.no-ext-logo {
    position: relative;
    left: 75px;
}

.ext-logo-social {
    margin-left: 25px;
    margin-right: 25px;
}

.link-item {
    margin-top: 20px;
    width: 100%;
}

.link-text {
    text-align: left;
    display: inline-block;
}

.link-lg {
    font-size: 38pt;
    text-decoration-line: underline;
}

.link-lg-inop {
    font-size: 38pt;
}

.link-sm {
    font-size: 16pt;
    position: relative;
    top: -6px;
}

.social {
    display: inline;
}
